name: build_and_push

on:
  push:
    tags: ["v*.*.*"]
  workflow_dispatch:
    inputs:
      tag:
        description: 'Git tag to checkout.'
        required: true

jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    environment: build
    env:
      GIT_TAG: ${{ github.event.inputs.tag || github.ref_name }}
    steps:
      - name: Checkout a specific tag.
        if: ${{ github.event_name == 'workflow_dispatch' }}
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
        with:
          ref: ${{ github.workflow.inputs.tag }}

      - name: Checkout.
        if: ${{ github.event_name == 'push' }}
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3

      - name: Login to Docker Hub
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Write release version
        run: |
          APP_VERSION=${GIT_TAG#v}
          echo APP_VERSION: $APP_VERSION
          echo "APP_VERSION=$APP_VERSION" >> $GITHUB_ENV

      - run: make ci-build
      - run: make ci-images
      - run: make ci-push
